<!DOCTYPE html>
<html lang="en">

<head>
  <!-- META -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
  <meta content="utf-8" http-equiv="encoding">
  <meta name="apple-mobile-web-app-status-bar-style" content="{{ colours['browser_theme'] }}">
  <meta name="theme-color" content="{{ colours['browser_theme'] }}">

  <!-- favicon -->
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/ico.png') }}">
  <link rel="icon" sizes="192x192" href="{{ url_for('static', filename='images/ico.png') }}">
  <link rel="apple-touch-icon" href="{{ url_for('static', filename='images/ico.png') }}">

  <!-- BS4 CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='system/bootstrap/css/bootstrap.min.css') }}">

  <!-- icons -->
  <link rel="stylesheet" href="{{ url_for('static', filename='system/fontawesome/css/all.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='modules/ion-icons/css/ion.min.css') }}">

  <!-- Bootstrap Social -->
  <link rel="stylesheet" href="{{ url_for('static', filename='modules/bootstrap-social/bootstrap-social.css') }}">

  <!-- iziToast -->
  <link rel="stylesheet" href="{{ url_for('static', filename='modules/izitoast/css/iziToast.min.css') }}">

  <!-- sweet alert -->
  <link rel="stylesheet" href="{{ url_for('static', filename='modules/sweetalert/sweetalert2.min.css') }}">

  <!-- form validation -->
  <link rel="stylesheet" href="{{ url_for('static', filename='modules/form-validation/css/formValidation.min.css') }}">

  <!-- pickadate -->
  <link rel="stylesheet" href="{{ url_for('static', filename='modules/pickadate/themes/default.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='modules/pickadate/themes/default.date.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='modules/pickadate/themes/default.time.css') }}">

  <!-- datatable -->
  <link rel="stylesheet" href="{{ url_for('static', filename='modules/datatables/css/datatable.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='modules/datatables/css/datatable.bootstrap.min.css') }}">

  <!-- apex charts -->
  <link rel="stylesheet" href="{{ url_for('static', filename='modules/apex-charts/apexcharts.css') }}">

  <!-- izimodal -->
  <link rel="stylesheet" href="{{ url_for('static', filename='modules/iziModal/css/iziModal.css') }}">

  <!-- select 2 -->
  <link rel="stylesheet" href="{{ url_for('static', filename='modules/select2/css/select2.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='modules/select2/css/select2-bootstrap4.min.css') }}">

  <!-- main stlye -->
  <link rel="stylesheet" href="{{ url_for('static', filename='system/app/main.css') }}">

  <!-- core css -->
  <link rel="stylesheet" href="{{ url_for('static', filename='system/stisla/css/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='system/stisla/css/components.css') }}">


  <!-- init styles -->
  {% include 'base/styles.html' %}

  {% block styles %}
  {% endblock styles %}

  <title>Fitr</title>
</head>

<body>
  <div class="se-pre-con"></div>

  {% if is_loggedin() %}
  {% include 'base/navbar.html' %}
  {% include 'base/sidebar.html' %}
  <div class="main-content">
    {% else %}
    <div class="app">
      {% endif %}
      {% block content %}
      {% endblock content %}
    </div>

    <!-- jquery and bootstrap and core -->
    <script src="{{ url_for('static', filename='system/jquery/jquery-3.4.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='system/popperjs/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='system/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='system/app/main.js') }}"></script>

    <!-- triggers -->
    <script src="{{ url_for('static', filename='system/app/triggers.js') }}"></script>

    <!-- other system modules -->
    <script src="{{ url_for('static', filename='system/nice-scroll/jquery.nicescroll.min.js') }}"></script>
    <script src="{{ url_for('static', filename='system/momentjs/moment-with-locales.js') }}"></script>
    <script src="{{ url_for('static', filename='system/stisla/js/stisla.js') }}"></script>
    <script src="{{ url_for('static', filename='system/stisla/js/scripts.js') }}"></script>
    <script src="{{ url_for('static', filename='system/stisla/js/custom.js') }}"></script>

    <!-- form validator -->
    <script src="{{ url_for('static', filename='modules/form-validation/js/FormValidation.full.min.js') }}"></script>
    <script src="{{ url_for('static', filename='modules/form-validation/js/plugins/Bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='modules/form-validation/js/plugins/J.min.js') }}"></script>

    <!-- izizToast -->
    <script src="{{ url_for('static', filename='modules/izitoast/js/iziToast.min.js') }}"></script>

    <!-- sweetalert -->
    <script src="{{ url_for('static', filename='modules/sweetalert/sweetalert2.all.min.js') }}"></script>

    <!-- pickadate -->
    <script src="{{ url_for('static', filename='modules/pickadate/picker.js') }}"></script>
    <script src="{{ url_for('static', filename='modules/pickadate/picker.date.js') }}"></script>
    <script src="{{ url_for('static', filename='modules/pickadate/picker.time.js') }}"></script>

    <!-- datatable -->
    <script src="{{ url_for('static', filename='modules/datatables/js/datatable.min.js') }}"></script>
    <script src="{{ url_for('static', filename='modules/datatables/js/datatable.bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='modules/datatables/js/datatables.scrolling.js') }}"></script>

    <!-- apex charts -->
    <script src="{{ url_for('static', filename='modules/apex-charts/apexcharts.min.js') }}"></script>

    <!-- select 2 -->
    <script src="{{ url_for('static', filename='modules/select2/js/select2.full.min.js') }}"></script>

    <!-- izimodal -->
    <script src="{{ url_for('static', filename='modules/iziModal/js/iziModal.min.js') }}"></script>

    <!-- bs 4 mapper - temp -->
    <script src="{{ url_for('static', filename='modules/BS4FormMapper/BS4Mapper.js') }}"></script>


    {% include 'base/scripts.html' %}
    {% if is_loggedin() %}
    {% include 'base/scripts_logged_in.html' %}
    {% endif %}

    {% block scripts %}
    {% endblock scripts %}
</body>

</html>