<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- META -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
        <meta content="utf-8" http-equiv="encoding">
        <meta name="apple-mobile-web-app-status-bar-style" content="{{ colours['browser_theme'] }}">
        <meta name="theme-color" content="{{ colours['browser_theme'] }}">

        <!-- favicon -->
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/ico.png') }}">
        <link rel="icon" sizes="192x192" href="{{ url_for('static', filename='images/ico.png') }}">
        <link rel="apple-touch-icon" href="{{ url_for('static', filename='images/ico.png') }}">

        <!-- bootstrap -->
        <!-- <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}"> -->
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-dashboard/css/sb-admin-2.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-better-nav/bootstrap-better-nav.css') }}">

        <!-- fitr main css -->
        <link rel="stylesheet" href="{{ url_for('static', filename='app/fitr.css') }}">

        <!-- font awesome -->
        <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome/css/all.min.css') }}">

        <!-- busy loader js css -->
        <link rel="stylesheet" href="{{ url_for('static', filename='jquery-busy-load/busyloader.min.css') }}">

        <!-- datatables -->
        <link rel="stylesheet" href="{{ url_for('static', filename='DataTables/datatables.min.css') }}">

        <!-- chartist -->
        <link rel="stylesheet" href="{{ url_for('static', filename='chartist/chartist.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='chartist/plugins/chartist-plugin-tooltip/chartist-plugin-tooltip.css') }}">

        <!-- iziToast -->
        <link rel="stylesheet" href="{{ url_for('static', filename='iziToast/css/iziToast.min.css') }}">

        <!-- sweet altert 2 -->
        <link rel="stylesheet" href="{{ url_for('static', filename='sweetAlert/sweetalert2.min.css') }}">

        <!-- init styles -->
      {% include 'base/styles.html' %}

        {% block styles %}
        {% endblock styles %}

        <title>Fitr</title>
    </head>

    <body>
        <div class="se-pre-con"></div>

        {% if is_loggedin() %}
          {% include 'base/navbar.html' %}
        {% endif %}

        {% block content %}
        {% endblock content %}

        <!-- jquery and bootstrap -->
        <script src="{{ url_for('static', filename='jquery/jquery.js') }}"></script>
        <!-- <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script> -->
        <script src="{{ url_for('static', filename='bootstrap-dashboard/js/sb-admin-2.min.js') }}"></script>
        <script src="{{ url_for('static', filename='bootstrap-better-nav/bootstrap-better-nav.js') }}"></script>

        <!-- font awesome -->
        <script src="{{ url_for('static', filename='fontawesome/js/all.min.js') }}"></script>

        <!-- fitr main js -->
        <script src="{{ url_for('static', filename='app/fitr.js') }}"></script>

        <!-- busy loader js -->
        <script src="{{ url_for('static', filename='jquery-busy-load/busyloader.min.js') }}"></script>

        <!-- form generator -->
        <script src="{{ url_for('static', filename='BSFormMapper/BS4FormMapper.js') }}"></script>

        <!-- datatables -->
        <script src="{{ url_for('static', filename='DataTables/datatables.min.js') }}"></script>

        <!-- chartist -->
        <script src="{{ url_for('static', filename='chartist/chartist.js') }}"></script>
        <script src="{{ url_for('static', filename='chartist/plugins/chartist-plugin-tooltip/chartist-plugin-tooltip.min.js') }}"></script>

        <!-- izitoast -->
        <script src="{{ url_for('static', filename='iziToast/js/iziToast.min.js') }}"></script>

        <!-- sweert altert 2 -->
        <script src="{{ url_for('static', filename='sweetAlert/sweetalert2.all.min.js') }}"></script>




        <script>
        $(window).on('load', function() {
          $(".se-pre-con").fadeOut("slow");
        });
        </script>

        {% block scripts %}
        {% endblock scripts %}
    </body>
</html>
