{% set menu_items = [

  {"name": 'Clients', "ref": "clients", "permission": "pt_clients", "children": [
    {"name":'Capture', "url": url_for('PTCaptureView:index')},
  ]},

  {"name": user().first_name, "ref": "user", "permission": "user", "children": [
    {"name": '<i class="fas fa-power-off"></i> Logout', "url": url_for('UserAuthenticationView:logout')},
  ]},

] %}


{% macro gen_main_menu() -%}
  {% for menu_item in menu_items %}
    {% if menu_item.children | length > 0 and has_permission(menu_item.permission) %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="{{ menu_item.ref }}" data-toggle="dropdown">
          {{ menu_item.name | safe }}
        </a>
        <div class="dropdown-menu">
          {% for child in menu_item.children %}
            <a class="dropdown-item" href="{{ child.url }}">{{ child.name | safe }}</a>
          {% endfor %}
        </div>
      </li>
    {% elif has_permission(menu_item.permission) %}
      <li class="nav-item">
        <a class="nav-link" href="{{ menu_item.url }}">
          {{ menu_item.name | safe }}
        </a>
      </li>
    {% endif %}
  {% endfor %}
{%- endmacro %}


<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light shadow">
  <a class="navbar-brand" href="#">
    <img src="{{ url_for('static', filename='images/logo.png') }}" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_menu" aria-controls="main_menu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="main_menu">
    <ul class="navbar-nav ml-auto">
      {{ gen_main_menu() }}
    </ul>
  </div>
</nav>