<div class="navbar-bg"></div>
<nav class="navbar navbar-expand-lg main-navbar">
  <div class="mr-auto">
    <ul class="navbar-nav mr-3">
      <li><a href="#" data-toggle="sidebar" class="nav-link nav-link-lg"><i class="fas fa-bars"></i></a></li>
      <li class="dropdown dropdown-list-toggle " id="navDrop">
        <a href="#" data-toggle="dropdown" class="nav-link notification-toggle nav-link-lg beep">
          <i class="far fa-bell"></i>
        </a>
        <div class="dropdown-menu dropdown-list dropdown-menu-left mt-2">
          <div class="dropdown-header rounded-top">Notifications
            <div class="float-right">
              <a href="#">View All</a>
            </div>
          </div>
          <div class="dropdown-list-content">
            <a href="#" class="dropdown-item">
              <div class="dropdown-item-desc">
                <b>No New Notifications</b>
              </div>
            </a>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <ul class="navbar-nav navbar-right">
    </li>
    <li class="dropdown" id="profileDrop">
      <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg nav-link-user">
        <figure class="avatar mr-1" data-initial="CF" width="30" id="user-name-text"></figure>
        <div class="d-sm-none d-lg-inline-block">Hi, {{ request.user.full_name }}</div>
      </a>
      <div class="dropdown-menu dropdown-menu-right">
        <a href="features-profile.html" class="dropdown-item has-icon">
          <i class="far fa-user"></i> Profile and Settings
        </a>
        <div class="dropdown-divider"></div>
        <a href="{{ url_for('UserAuthentication:logout_get') }}" class="dropdown-item has-icon text-danger">
          <i class="fas fa-sign-out-alt"></i> Logout
        </a>
      </div>
    </li>
  </ul>
</nav>