{% set menu_items = [
        {"heading": "Clients", "permission": "trainer_clients", "contents":
            [
                {"name":'<i class="fas fa-users"></i> Manage Clients', "permission": "trainer_clients", "url": url_for('TrainerManageClients:index')},
                {"name":'<i class="fas fa-user-plus"></i> Add Clients', "permission": "trainer_clients", "url": "test"},
            ]
        }
] %}


{% macro gen_main_menu() -%}
    {% for subject in menu_items %}
        {% if has_permission(subject['permission']) %}
            <li class="menu-header">{{ subject['heading'] | safe }}</li>
            {% for item in subject['contents'] %}
                {% if has_permission(item['permission']) %}
                    <li class="nav-item {{ 'active' if item['url'] == request.path else '' }}">
                        <a class="nav-link" href="{{ item['url'] }}">
                        {{ item['name'] | safe }}
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}
{%- endmacro %}


<div class="main-sidebar sidebar-style-2" tabindex="1">
    <aside id="sidebar-wrapper">
        <div class="sidebar-brand sidebar-brand-sm">
            <img src="{{ url_for('static', filename='img/muscle.png') }}" alt="logo" width="45">
        </div>
        <div class="sidebar-brand">
            <img src="{{ url_for('static', filename='img/logo.png') }}" alt="logo" width="85">
        </div>
        <ul class="sidebar-menu">
            {{ gen_main_menu() }}
        </ul>
    </aside>
</div>