{% extends  'base/layout.html'%}

{% block styles %}
<style>
  input {
    text-align: center;
  }
</style>
{% endblock styles %}

{% block content %}
<div class="container">

  <div class="accordion mb-4 mt-4" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h2 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="" aria-controls="collapseOne">
            <i class="fas fa-weight"></i> Weight
          </button>
        </h2>
      </div>

      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Weight</th>
                <th scope="col">Diff</th>
                <th scope="col">Date</th>
              </tr>
            </thead>
            <tbody>
              {% set prev_weight = {'weight':0} %}
              {% for weight_obj in client.weight %}

                <tr>
                  <td>{{ weight_obj.uid }}</td>
                  <td>{{ weight_obj.weight }} {{weight_obj.unit}}</td>
                  <td>{{ '%.1f' % (weight_obj.weight - prev_weight['weight']) }} {{weight_obj.unit}}</td>
                  <td>{{ datetimetools.cast_string(weight_obj.create_stamp, "d") }}</td>
                </tr>

                {% if prev_weight.update({"weight": weight_obj.weight}) %} {% endif %}
              {% endfor %}
            </tbody>
          </table>

          <form id="weight">
            <div class="form-group">
              <label for="weight">Weight <i class="fas fa-level-down-alt"></i></label>
              <input type="text" pattern="[0-9]*" inputmode="numeric" step="0.01" class="form-control form-control-lg" id="weight" name="weight" placeholder="KG's">
            </div>
            <button type="submit" class="btn btn-lg btn-success btn-block mt-3">Submit Stats! 🎉🎉🎉</button>
          </form>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingTwo">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            <i class="fas fa-ruler-vertical"></i> Measurements
          </button>
        </h2>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="card-body">
          <form id="measurements">
            <div class="form-group">
              <label for="neck">Neck <i class="fas fa-level-down-alt"></i></label>
              <input type="text" pattern="[0-9]*" inputmode="numeric" step="0.01" class="form-control form-control-lg" id="neck" name="neck" placeholder="CM's">
            </div>

            <div class="form-group">
              <label for="bicep">Bicep <i class="fas fa-level-down-alt"></i></label>
              <input type="text" pattern="[0-9]*" inputmode="numeric" step="0.01" class="form-control form-control-lg" id="bicep" name="bicep" placeholder="CM's">
            </div>

            <div class="form-group">
              <label for="chest">Bust/Chest <i class="fas fa-level-down-alt"></i></label>
              <input type="text" pattern="[0-9]*" inputmode="numeric" step="0.01" class="form-control form-control-lg" id="chest" name="chest" placeholder="CM's">
            </div>

            <div class="form-group">
              <label for="abs1">Abs 1 <i class="fas fa-level-down-alt"></i></label>
              <input type="text" pattern="[0-9]*" inputmode="numeric" step="0.01" class="form-control form-control-lg" id="abs1" name="abs1" placeholder="CM's">
              <input type="text" class="form-control form-control-lg mt-1" id="abs1_comment" name="abs1_comment" placeholder="Comment">
            </div>

            <div class="form-group">
              <label for="abs2">Abs 2 <i class="fas fa-level-down-alt"></i></label>
              <input type="text" pattern="[0-9]*" inputmode="numeric" step="0.01" class="form-control form-control-lg" id="abs2" name="abs2" placeholder="CM's">
              <input type="text" class="form-control form-control-lg mt-1" id="abs2_comment" name="abs2_comment" placeholder="Comment">
            </div>

            <div class="form-group">
              <label for="abs3">Abs 3 <i class="fas fa-level-down-alt"></i></label>
              <input type="text" pattern="[0-9]*" inputmode="numeric" step="0.01" class="form-control form-control-lg" id="abs3" name="abs3" placeholder="CM's">
              <input type="text" class="form-control form-control-lg mt-1" id="abs3_comment" name="abs3_comment" placeholder="Comment">
            </div>

            <div class="form-group">
              <label for="upperthigh">Upper Thigh <i class="fas fa-level-down-alt"></i></label>
              <input type="text" pattern="[0-9]*" inputmode="numeric" step="0.01" class="form-control form-control-lg" id="upperthigh" name="upperthigh" placeholder="CM's">
            </div>

            <div class="form-group">
              <label for="midthigh">Mid thigh <i class="fas fa-level-down-alt"></i></label>
              <input type="text" pattern="[0-9]*" inputmode="numeric" step="0.01" class="form-control form-control-lg" id="midthigh" name="midthigh" placeholder="CM's">
            </div>

            <div class="form-group">
              <label for="calf">Calf <i class="fas fa-level-down-alt"></i></label>
              <input type="text" pattern="[0-9]*" inputmode="numeric" step="0.01" class="form-control form-control-lg" id="calf" name="calf" placeholder="CM's">
            </div>

            <button type="submit" class="btn btn-lg btn-success btn-block mt-3">Submit Stats! 🎉🎉🎉</button>
          </form>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="heading3">
        <h2 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse3" aria-expanded="" aria-controls="collapse3">
            <i class="fas fa-flask"></i> Pushups
          </button>
        </h2>
      </div>

      <div id="collapse3" class="collapse" aria-labelledby="heading3" data-parent="#accordionExample">
        <div class="card-body">

          <form id="pushup">
            <div class="form-group">
              <label for="value">Pushups <i class="fas fa-level-down-alt"></i></label>
              <input type="text" pattern="[0-9]*" inputmode="numeric" class="form-control form-control-lg" id="value" name="value">
            </div>
            <button type="submit" class="btn btn-lg btn-success btn-block mt-3">Submit PUSHUPS! 🎉🎉🎉</button>
          </form>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="heading5">
        <h2 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse5" aria-expanded="" aria-controls="collapse5">
            <i class="fas fa-flask"></i> SitUps
          </button>
        </h2>
      </div>

      <div id="collapse5" class="collapse" aria-labelledby="heading5" data-parent="#accordionExample">
        <div class="card-body">

          <form id="situp">
            <div class="form-group">
              <label for="value">SitUps <i class="fas fa-level-down-alt"></i></label>
              <input type="text" pattern="[0-9]*" inputmode="numeric" class="form-control form-control-lg" id="value" name="value">
            </div>
            <button type="submit" class="btn btn-lg btn-success btn-block mt-3">Submit SITUPS! 🎉🎉🎉</button>
          </form>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="heading4">
        <h2 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse4" aria-expanded="" aria-controls="collapse4">
            <i class="fas fa-flask"></i> Stepper
          </button>
        </h2>
      </div>

      <div id="collapse4" class="collapse" aria-labelledby="heading4" data-parent="#accordionExample">
        <div class="card-body">

          <form id="stepper">
            <div class="form-group">
              <label for="value">Stepper <i class="fas fa-level-down-alt"></i></label>
              <input type="text" pattern="[0-9]*" inputmode="numeric" class="form-control form-control-lg" id="value" name="value">
            </div>
            <button type="submit" class="btn btn-lg btn-success btn-block mt-3">Submit STEPS! 🎉🎉🎉</button>
          </form>
        </div>
      </div>
    </div>

  </div>
</div>
{% endblock content %}

{% block scripts %}
<script>
  // validation
var fv = null
  document.addEventListener('DOMContentLoaded', function(e) {
    FormValidation.formValidation(
      document.getElementById('weight'), {
        fields: {
          weight: {
            validators: {
              notEmpty: {
                message: 'field is required check decimal point',
              },
              regexp: {
                  regexp: /^(\d+\.?\d*|\.\d+)$/,
                  message: 'Input wrong only (.) and (,) accepted as decimal places'
              },
            }
          },
        },
        plugins: {
          trigger: new FormValidation.plugins.Trigger(),
          bootstrap: new FormValidation.plugins.Bootstrap(),
          submitButton: new FormValidation.plugins.SubmitButton(),
        },
      }
    ).on('core.form.valid', function() {

      $("button[type='submit']").attr("disabled", true);

      $.ajax({
        accept: 'application/json',
        contentType: 'application/json',
        type: "POST",
        url: "{{ url_for('PTCaptureView:weight_post', user=client.username) }}",
        data: $('#weight').jsonString()
      }).done(function(data, status, jqXHR) {
        $.busyLoadFull("show", {
          spinner: false,
          image: false,
          fontawesome: false,
          custom: false,
          color: "#fff",
          background: "rgba(0, 0, 0, 0.80)",
          animation: 'fade',
          text: `🎉 Success`,
          textPosition: "bottom",
          fontSize: "2rem",
        });

        setTimeout(function() {
          window.location.replace("{{ url_for('PTCaptureView:index') }}");
        }, 2500)
      }).fail(function(data, status, jqXHR) {
        $("button[type='submit']").attr("disabled", false);

        try {
          var error = data.responseJSON.error_msg;
        } catch (err) {
          var error = "Server Error, Try again.";
        }

        $.toast({
          text: error,
          heading: 'Error!',
          icon: 'error',
          showHideTransition: 'slide',
          allowToastClose: false,
          hideAfter: 3000,
          stack: 5,
          position: 'top-center',
          textAlign: 'left',
          loader: true,
          beforeShow: function() {},
          afterShown: function() {},
          beforeHide: function() {},
          afterHidden: function() {}
        });
      });
    }).on('core.form.invalid', function() {
      $.toast({
        text: "Please see red highlighted areas to fix form errors.",
        heading: 'Error!',
        icon: 'error',
        showHideTransition: 'slide',
        allowToastClose: false,
        hideAfter: 3000,
        stack: 5,
        position: 'top-center',
        textAlign: 'left',
        loader: true,
        beforeShow: function() {},
        afterShown: function() {},
        beforeHide: function() {},
        afterHidden: function() {}
      });
    });
  });



  document.addEventListener('DOMContentLoaded', function(e) {
    FormValidation.formValidation(
      document.getElementById('situp'), {
        fields: {
          value: {
            validators:{
              regexp: {
                regexp: /^\d+$/,
                message: 'Input wrong only numbers'
              },
            }
          }
        },
        plugins: {
          trigger: new FormValidation.plugins.Trigger(),
          bootstrap: new FormValidation.plugins.Bootstrap(),
          submitButton: new FormValidation.plugins.SubmitButton(),
        },
      }
    ).on('core.form.valid', function() {

      $("button[type='submit']").attr("disabled", true);

      $.ajax({
        accept: 'application/json',
        contentType: 'application/json',
        type: "POST",
        url: "{{ url_for('PTCaptureView:fitness_test_post', user=client.username, test='situp') }}",
        data: $('#situp').jsonString()
      }).done(function(data, status, jqXHR) {
        $.busyLoadFull("show", {
          spinner: false,
          image: false,
          fontawesome: false,
          custom: false,
          color: "#fff",
          background: "rgba(0, 0, 0, 0.80)",
          animation: 'fade',
          text: `🎉 Success`,
          textPosition: "bottom",
          fontSize: "2rem",
        });

        setTimeout(function() {
          window.location.replace("{{ url_for('PTCaptureView:index') }}");
        }, 2500)
      }).fail(function(data, status, jqXHR) {
        $("button[type='submit']").attr("disabled", false);

        try {
          var error = data.responseJSON.error_msg;
        } catch (err) {
          var error = "Server Error, Try again.";
        }

        $.toast({
          text: error,
          heading: 'Error!',
          icon: 'error',
          showHideTransition: 'slide',
          allowToastClose: false,
          hideAfter: 3000,
          stack: 5,
          position: 'top-center',
          textAlign: 'left',
          loader: true,
          beforeShow: function() {},
          afterShown: function() {},
          beforeHide: function() {},
          afterHidden: function() {}
        });
      });
    }).on('core.form.invalid', function() {
      $.toast({
        text: "Please see red highlighted areas to fix form errors.",
        heading: 'Error!',
        icon: 'error',
        showHideTransition: 'slide',
        allowToastClose: false,
        hideAfter: 3000,
        stack: 5,
        position: 'top-center',
        textAlign: 'left',
        loader: true,
        beforeShow: function() {},
        afterShown: function() {},
        beforeHide: function() {},
        afterHidden: function() {}
      });
    });
  });

  document.addEventListener('DOMContentLoaded', function(e) {
    FormValidation.formValidation(
      document.getElementById('pushup'), {
        fields: {
          value: {
            validators:{
              regexp: {
                regexp: /^\d+$/,
                message: 'Input wrong only numbers'
              },
            }
          }
        },
        plugins: {
          trigger: new FormValidation.plugins.Trigger(),
          bootstrap: new FormValidation.plugins.Bootstrap(),
          submitButton: new FormValidation.plugins.SubmitButton(),
        },
      }
    ).on('core.form.valid', function() {

      $("button[type='submit']").attr("disabled", true);

      $.ajax({
        accept: 'application/json',
        contentType: 'application/json',
        type: "POST",
        url: "{{ url_for('PTCaptureView:fitness_test_post', user=client.username, test='pushup') }}",
        data: $('#pushup').jsonString()
      }).done(function(data, status, jqXHR) {
        $.busyLoadFull("show", {
          spinner: false,
          image: false,
          fontawesome: false,
          custom: false,
          color: "#fff",
          background: "rgba(0, 0, 0, 0.80)",
          animation: 'fade',
          text: `🎉 Success`,
          textPosition: "bottom",
          fontSize: "2rem",
        });

        setTimeout(function() {
        $.busyLoadFull("hide")

        }, 2500)

        setTimeout(function() {
        $("button[type='submit']").attr("disabled", false);

      }, 7000)
      }).fail(function(data, status, jqXHR) {
        $("button[type='submit']").attr("disabled", false);

        try {
          var error = data.responseJSON.error_msg;
        } catch (err) {
          var error = "Server Error, Try again.";
        }

        $.toast({
          text: error,
          heading: 'Error!',
          icon: 'error',
          showHideTransition: 'slide',
          allowToastClose: false,
          hideAfter: 3000,
          stack: 5,
          position: 'top-center',
          textAlign: 'left',
          loader: true,
          beforeShow: function() {},
          afterShown: function() {},
          beforeHide: function() {},
          afterHidden: function() {}
        });
      });
    }).on('core.form.invalid', function() {
      $.toast({
        text: "Please see red highlighted areas to fix form errors.",
        heading: 'Error!',
        icon: 'error',
        showHideTransition: 'slide',
        allowToastClose: false,
        hideAfter: 3000,
        stack: 5,
        position: 'top-center',
        textAlign: 'left',
        loader: true,
        beforeShow: function() {},
        afterShown: function() {},
        beforeHide: function() {},
        afterHidden: function() {}
      });
    });
  });


  document.addEventListener('DOMContentLoaded', function(e) {
    FormValidation.formValidation(
      document.getElementById('stepper'), {
        fields: {
          value: {
            validators:{
              regexp: {
                regexp: /^\d+$/,
                message: 'Input wrong only numbers'
              },
            }
          }
        },
        plugins: {
          trigger: new FormValidation.plugins.Trigger(),
          bootstrap: new FormValidation.plugins.Bootstrap(),
          submitButton: new FormValidation.plugins.SubmitButton(),
        },
      }
    ).on('core.form.valid', function() {

      $("button[type='submit']").attr("disabled", true);

      $.ajax({
        accept: 'application/json',
        contentType: 'application/json',
        type: "POST",
        url: "{{ url_for('PTCaptureView:fitness_test_post', user=client.username, test='stepper') }}",
        data: $('#stepper').jsonString()
      }).done(function(data, status, jqXHR) {
        $.busyLoadFull("show", {
          spinner: false,
          image: false,
          fontawesome: false,
          custom: false,
          color: "#fff",
          background: "rgba(0, 0, 0, 0.80)",
          animation: 'fade',
          text: `🎉 Success`,
          textPosition: "bottom",
          fontSize: "2rem",
        });

        setTimeout(function() {
          window.location.replace("{{ url_for('PTCaptureView:index') }}");
        }, 2500)
      }).fail(function(data, status, jqXHR) {
        $("button[type='submit']").attr("disabled", false);

        try {
          var error = data.responseJSON.error_msg;
        } catch (err) {
          var error = "Server Error, Try again.";
        }

        $.toast({
          text: error,
          heading: 'Error!',
          icon: 'error',
          showHideTransition: 'slide',
          allowToastClose: false,
          hideAfter: 3000,
          stack: 5,
          position: 'top-center',
          textAlign: 'left',
          loader: true,
          beforeShow: function() {},
          afterShown: function() {},
          beforeHide: function() {},
          afterHidden: function() {}
        });
      });
    }).on('core.form.invalid', function() {
      $.toast({
        text: "Please see red highlighted areas to fix form errors.",
        heading: 'Error!',
        icon: 'error',
        showHideTransition: 'slide',
        allowToastClose: false,
        hideAfter: 3000,
        stack: 5,
        position: 'top-center',
        textAlign: 'left',
        loader: true,
        beforeShow: function() {},
        afterShown: function() {},
        beforeHide: function() {},
        afterHidden: function() {}
      });
    });
  });




  document.addEventListener('DOMContentLoaded', function(e) {
    fv = FormValidation.formValidation(
      document.getElementById('measurements'), {
        fields: {
          neck: {
            validators: {
              notEmpty: {
                message: 'field is required check decimal point',
              },
              regexp: {
                  regexp: /^(\d+\.?\d*|\.\d+)$/,
                  message: 'Input wrong only (.) and (,) accepted as decimal places'
              },
            }
          },
          bicep: {
            validators: {
              notEmpty: {
                message: 'field is required check decimal point',
              },
              regexp: {
                  regexp: /^(\d+\.?\d*|\.\d+)$/,
                  message: 'Input wrong only (.) and (,) accepted as decimal places'
              },
            }
          },
          chest: {
            validators: {
              notEmpty: {
                message: 'field is required check decimal point',
              },
              regexp: {
                  regexp: /^(\d+\.?\d*|\.\d+)$/,
                  message: 'Input wrong only (.) and (,) accepted as decimal places'
              },
            }
          },
          abs1: {
            validators: {
              notEmpty: {
                message: 'field is required check decimal point',
              },
              regexp: {
                  regexp: /^(\d+\.?\d*|\.\d+)$/,
                  message: 'Input wrong only (.) and (,) accepted as decimal places'
              },
            }
          },
          abs2: {
            validators: {
              notEmpty: {
                message: 'field is required check decimal point',
              },
              regexp: {
                  regexp: /^(\d+\.?\d*|\.\d+)$/,
                  message: 'Input wrong only (.) and (,) accepted as decimal places'
              },
            }
          },
          abs3: {
            validators: {
              notEmpty: {
                message: 'field is required check decimal point',
              },
              regexp: {
                  regexp: /^(\d+\.?\d*|\.\d+)$/,
                  message: 'Input wrong only (.) and (,) accepted as decimal places'
              },
            }
          },
          midthigh: {
            validators: {
              notEmpty: {
                message: 'field is required check decimal point',
              },
              regexp: {
                  regexp: /^(\d+\.?\d*|\.\d+)$/,
                  message: 'Input wrong only (.) and (,) accepted as decimal places'
              },
            }
          },
          upperthigh: {
            validators: {
              regexp: {
                  regexp:   /^(\d+\.?\d*|\.\d+)$/,
                  message: 'Input wrong only (.) and (,) accepted as decimal places'
              },
            }
          },
          calf: {
            validators: {
              notEmpty: {
                message: 'field is required check decimal point',
              },
              regexp: {
                  regexp: /^(\d+\.?\d*|\.\d+)$/,
                  message: 'Input wrong only (.) and (,) accepted as decimal places'
              },
            }
          },
        },
        plugins: {
          trigger: new FormValidation.plugins.Trigger(),
          bootstrap: new FormValidation.plugins.Bootstrap(),
          submitButton: new FormValidation.plugins.SubmitButton(),
        },
      }
    ).on('core.form.valid', function() {

      $("button[type='submit']").attr("disabled", true);

      $.ajax({
        accept: 'application/json',
        contentType: 'application/json',
        type: "POST",
        url: "{{ url_for('PTCaptureView:measurements_post', user=client.username) }}",
        data: $('#measurements').jsonString()
      }).done(function(data, status, jqXHR) {
        $.busyLoadFull("show", {
          spinner: false,
          image: false,
          fontawesome: false,
          custom: false,
          color: "#fff",
          background: "rgba(0, 0, 0, 0.80)",
          animation: 'fade',
          text: `🎉 Success`,
          textPosition: "bottom",
          fontSize: "2rem",
        });

        setTimeout(function() {
          window.location.replace("{{ url_for('PTCaptureView:index') }}");
        }, 2500)
      }).fail(function(data, status, jqXHR) {
        $("button[type='submit']").attr("disabled", false);

        try {
          var error = data.responseJSON.error_msg;
        } catch (err) {
          var error = "Server Error, Try again.";
        }

        $.toast({
          text: error,
          heading: 'Error!',
          icon: 'error',
          showHideTransition: 'slide',
          allowToastClose: false,
          hideAfter: 3000,
          stack: 5,
          position: 'top-center',
          textAlign: 'left',
          loader: true,
          beforeShow: function() {},
          afterShown: function() {},
          beforeHide: function() {},
          afterHidden: function() {}
        });
      });
    }).on('core.form.invalid', function() {
      $.toast({
        text: "Please see red highlighted areas to fix form errors.",
        heading: 'Error!',
        icon: 'error',
        showHideTransition: 'slide',
        allowToastClose: false,
        hideAfter: 3000,
        stack: 5,
        position: 'top-center',
        textAlign: 'left',
        loader: true,
        beforeShow: function() {},
        afterShown: function() {},
        beforeHide: function() {},
        afterHidden: function() {}
      });
    });
  });

  $('#stats').on('keyup keypress', function(e) {
    var keyCode = e.keyCode || e.which;
    if (keyCode === 13) {
      e.preventDefault();
      return false;
    }
  });
</script>
{% endblock scripts %}
