{% extends  'base/layout.html'%}


{% block styles %}
{% endblock styles %}

{% block content %}
<section class="section">
  <div class="container mt-5">
    <div class="row">
      <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
        <div class="login-brand">
          <img src="{{ url_for('static', filename='img/temple_squ.png') }}" alt="logo" width="85">
        </div>

        <div class="card card-primary">
          <div class="card-header">
            <h4>Reset Password</h4>
          </div>

          <div class="card-body">
            <p class="text-muted">Almost there! Please enter your new password.</p>
            <form id="reset">
              <div id="formElements">
                <div class="form-group ">
                  <label>New Password</label>
                  <input class="form-control" name="password" type="password" autocorrect="off" autocapitalize="off">
                </div>
                <div class="form-group ">
                  <label>Confirm Password</label>
                  <input class="form-control" name="confirm" type="password" autocorrect="off" autocapitalize="off">
                </div>
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-primary btn-lg btn-block" tabindex="4">
                  Reset Password
                </button>
              </div>
            </form>
          </div>
        </div>
        <div class="simple-footer">
          Copyright &copy; CatByte <script type="text/javascript">
            var year = new Date();
            document.write(year.getFullYear());
          </script>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}

{% block scripts %}
<script>
  // form validator
  var fv = null;
  // validation
  document.addEventListener('DOMContentLoaded', function (e) {

    // autocomp out
    generate_autocomp_hash([
      'input[name="password"]',
      'input[name="confirm"]',
    ])

    // form validate
    fv = FormValidation.formValidation(
      document.getElementById('reset'), {
        fields: {
          password: {
            validators: {
              notEmpty: {
                message: 'This field is required',
              },
              stringLength: {
                min: 6,
                max: 50,
                message: 'Field must be more than 6 and less than 50 characters long'
              },
            }
          },
          confirm: {
            validators: {
              notEmpty: {
                message: 'This field is required',
              },
              callback: {
                message: "Passwords dont match",
                callback: function (field) {
                  if (field.value == $("input[name='password']").val()) {
                    return true
                  } else {
                    return false
                  }
                }
              }
            }
          },
        },
        plugins: {
          trigger: new FormValidation.plugins.Trigger(),
          bootstrap: new FormValidation.plugins.Bootstrap(),
          submitButton: new FormValidation.plugins.SubmitButton(),
        },
      }
    ).on('core.form.valid', function () {
      $("button[type='submit']").attr("disabled", true);
      $.ajax({
        accept: 'application/json',
        contentType: 'application/json',
        type: "POST",
        url: "./",
        data: $('#reset').jsonString()
      }).done(function (data, status, jqXHR) {
        $("button[type='submit']").attr("disabled", false);
        Swal.fire({
          type: 'success',
          timer: 3000,
          showConfirmButton: false,
          title: 'Password Reset Success!',
          text: "Your password has been successfully reset. You are about to be logged in.",
          onClose: () => {
            window.location.replace("/");
          }
        });
      }).fail(function (data, status, jqXHR) {
        $("button[type='submit']").attr("disabled", false);
        try {
          var error = data.responseJSON.error_msg;
        } catch (err) {
          var error = "Server Error, Try again.";
        }

        iziToast.error({
          position: "bottomLeft",
          title: 'Error',
          message: error
        });
      });
    })
  });


  // events
  $('input[name="confirm"]').on("input", function (e) {
    fv.revalidateField('confirm');
  });
</script>
{% endblock scripts %}