{% extends  'base/layout.html'%}

{% block styles %}
{% endblock styles %}

{% block content %}

<section class="section">
  <div class="container mt-5">
    <div class="row">
      <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
        <div class="login-brand">
          <img src="{{ url_for('static', filename='img/temple_squ.png') }}" alt="logo" width="100">
        </div>

        <div class="card card-primary">
          <div class="card-header"><h4>Reset Password</h4></div>

          <div class="card-body">
            <p class="text-muted">We will send a link to reset your password</p>
            <form id="forgot">
              <div class="form-group">
                <button type="submit" class="btn btn-primary btn-lg btn-block" tabindex="4">
                  Reset Password
                </button>
              </div>
            </form>
          </div>
        </div>
        <div class="simple-footer">
          Copyright &copy; CatByte <script type="text/javascript">var year = new Date();document.write(year.getFullYear());</script>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}

{% block scripts %}
<script>
  $(document).ready(function() {

    new formGen("#forgot", {
      form: [{
          type: "email",
          name: "identifier",
          placeholder: "Your Email Address",
          validators: ["strMin(5)"],
        },
      ],

      remote: {
        submit: {
          method: "POST",
          url: "{{ url_for('UserAuthenticationView:forgot_post') }}"
        },
      },

      onSuccess(data, status, xhr) {
        Swal.fire({
          type: 'success',
          showConfirmButton: true,
          title: 'Check your email',
          text: "Reset link has been emailed to you.",
          confirmButtonClass: "btn btn-primary"
        });
      },

      onFail(xhr, status) {
        try {
          var error = xhr.responseJSON.error_msg;
        } catch (err) {
          var error = "Server Error, Try again.";
        }

        iziToast.error({
          position: "bottomLeft",
          title: 'Error',
          message: error
        });
      }
    });
  });
</script>
{% endblock scripts %}
