{% extends  'base/layout.html'%}

{% block styles %}
{% endblock styles %}


{% block content %}
<section class="section">
  <div class="container mt-5">
    <div class="row">
      <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
        <div class="login-brand">
          <img src="{{ url_for('static', filename='img/temple_squ.png') }}" alt="logo" width="100">
        </div>

        <div class="card card-primary">
          <div class="card-header"><h4>Login</h4></div>

          <div class="card-body">
            <form id="login">
              <div class="form-group">
                <div id="identifier"></div>
              </div>

              <div class="form-group">
                <div class="d-block">
                  <label for="password" class="control-label">Password</label>
                  <div class="float-right">
                    <a href="{{ url_for('UserAuthenticationView:forgot_get') }}" class="text-small">
                      Forgot Password?
                    </a>
                  </div>
                </div>
                <div id="password"></div>
              </div>

              <div class="form-group">
                <button type="submit" class="btn btn-primary btn-lg btn-block" tabindex="4">
                  Login
                </button>
              </div>
            </form>

          </div>
        </div>
        <div class="mt-5 text-muted text-center">
          Don't have an account? <a href="{{ url_for('UserRegistrationView:register_get') }}">Create One</a>
        </div>
        <div class="simple-footer">
          Copyright &copy; CatByte <script type="text/javascript">var year = new Date();document.write(year.getFullYear());</script>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}

{% block scripts %}
<script>
$(document).ready(function() {

  new formGen("#login", {
    form: [{
        type: "string",
        name: "identifier",
        placeholder: "Username or EMail",
        validators: ["strMin(3)"],
        element: "#identifier"
      },
      {
        type: "password",
        name: "password",
        validators: ["notEmpty()", "strMin(5)"],
        element: "#password"
      },
    ],

    remote: {
      submit: {
        method: "POST",
        url: "/auth/login"
      },
    },

    onSuccess(data, status, xhr) {
      $("#login").find("button[type='submit']").attr("disabled", "");
      Swal.fire({
        type: 'success',
        timer: 2000,
        showConfirmButton: false,
        title: 'Authentication Complete',
        text: "You have been successfully authenticated. Please wait...",
        onClose: () => {
          window.location.replace(data.redirect);
        }
      });
    },

    onFail(xhr, status) {
      try {
        var error = xhr.responseJSON.error_msg;
      } catch (err) {
        var error = "Server Error, Try again.";
      }

      iziToast.error({
        position: "bottomLeft",
        title: 'Error',
        message: error
      });
    }
  });
});
</script>
{% endblock scripts %}
