{% extends  'base/layout.html'%}


{% block styles %}
{% endblock styles %}

{% block content %}
<section class="section">
  <div class="container mt-5">
    <div class="row">
      <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
        <div class="login-brand">
          <img src="{{ url_for('static', filename='img/temple_squ.png') }}" alt="logo" width="100">
        </div>

        <div class="card card-primary">
          <div class="card-header"><h4>Reset Password</h4></div>

          <div class="card-body">
            <p class="text-muted">Almost there! Please enter your new password.</p>
            <form id="forgot">
              <div class="form-group">
                <button type="submit" class="btn btn-primary btn-lg btn-block" tabindex="4">
                  Reset Password
                </button>
              </div>
            </form>
          </div>
        </div>
        <div class="simple-footer">
          Copyright &copy; CatByte <script type="text/javascript">var year = new Date();document.write(year.getFullYear());</script>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}

{% block scripts %}
<script>
  $(document).ready(function() {

    new formGen("#forgot", {
      form: [{
          type: "password",
          name: "password",
          placeholder: "New Password",
          validators: ["strMin(5)"],
        },
        {
          type: "confirm-password",
          name: "confirm",
          placeholder: "Confirm Password",
          validators: ["strMin(5)"],
          },
      ],

      remote: {
        submit: {
          method: "POST",
          url: "./"
        },
      },

      onSuccess(data, status, xhr) {
        Swal.fire({
          type: 'success',
          timer: 3000,
          showConfirmButton: false,
          title: 'Password Reset Success!',
          text: "Your password has been successfully reset. You are about to be logged in.",
          onClose: () => {
            window.location.replace("/");
          }
        });
      },

      onFail(xhr, status) {
        try {
          var error = xhr.responseJSON.error_msg;
        } catch (err) {
          var error = "Server Error, Try again.";
        }
        M.toast({html: error});
      }
    });
  });
</script>
{% endblock scripts %}
