{% extends  'base/layout.html'%}


{% block styles %}
<style>
  .va-center {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
</style>
{% endblock styles %}

{% block content %}


<div style="height: 100vh;">
  <div class="container va-center">

    <div class="row">
      <div class="col"></div>
      <div class="col">
        <img class="mx-auto d-block" width="200" src="{{ url_for('static', filename='images/logo.png') }}" alt="">
      </div>
      <div class="col"></div>
    </div>


    <div class="row">
      <div class="col-lg"></div>
      <div class="col-lg">
        <form id="forgot">
          <div class="card border-primary mb-3">
            <div class="card-header text-center">Please enter your new password.</div>
            <div class="card-body">
              <div id="passwords"></div>
            </div>
            <div class="card-footer bg-primary">
              <div class="row">
                <div class="col"></div>
                <div class="col">
                  <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
                </div>
                <div class="col"></div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="col-lg"></div>
    </div>

    <div class="text-center">
      <a class="badge badge-info mb-1" href="{{ url_for('UserRegistrationView:register_get') }}"><b><i class="fas fa-info-circle"></i> Need an account?</b></a>
      <p class="mt-1">&copy; <script>
          document.write(new Date().getFullYear())
        </script>
      </p>
    </div>

  </div>


{% endblock content %}

{% block scripts %}
<script>
  $(document).ready(function() {

    new formGen("#forgot", {
      form: [{
          type: "password",
          name: "password",
          placeholder: "New Password",
          validators: ["strMin(5)"],
          element: "#passwords"
        },
        {
          type: "confirm-password",
          name: "confirm",
          placeholder: "Confirm Password",
          validators: ["strMin(5)"],
          element: "#passwords"
          },
      ],

      remote: {
        submit: {
          method: "POST",
          url: "./"
        },
      },

      onSuccess(data, status, xhr) {
        Swal.fire({
          type: 'success',
          timer: 3000,
          showConfirmButton: false,
          title: 'Password Reset Success!',
          text: "Your password has been successfully reset. You are about to be logged in.",
          onClose: () => {
            window.location.replace("/");
          }
        });
      },

      onFail(xhr, status) {
        try {
          var error = xhr.responseJSON.error_msg;
        } catch (err) {
          var error = "Server Error, Try again.";
        }
        M.toast({html: error});
      }
    });
  });
</script>
{% endblock scripts %}
