{% extends  'base/layout.html'%}

{% block styles %}
{% endblock styles %}

{% block content %}
<section class="section">
  <div class="container mt-5">
    <div class="row">
      <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-8 offset-lg-2 col-xl-8 offset-xl-2">
        <div class="login-brand">
          <img src="{{ url_for('static', filename='img/temple_squ.png') }}" alt="logo" width="100">
        </div>

        <div class="card card-primary">
          <div class="card-header"><h4>Register</h4></div>

          <div class="card-body">
            <form id="register">
              <h2 class="section-title mt-0">General Info</h2>
              <div class="row">
                <div id="first"></div>
                <div id="surname"></div>
              </div>

              <div class="row">
                <div id="email"></div>
                <div id="username"></div>
              </div>


              <div class="row">
                <div id="pass"></div>
                <div id="confirm"></div>
              </div>

              <h2 class="section-title mt-0">More about you</h2>

              <div class="row">
                <div class="col-lg-6">
                  <div id="date"></div>
                </div>
                <div class="col-lg-6">
                  <div id="gender"></div>
                </div>
              </div>

              <div class="form-group">
                <button type="submit" class="btn btn-primary btn-lg btn-block">
                  Register
                </button>
              </div>
            </form>
          </div>
        </div>
        <div class="simple-footer">
          Copyright &copy; CatByte <script type="text/javascript">var year = new Date();document.write(year.getFullYear());</script>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}

{% block scripts %}
<script>
  $(document).ready(function() {
    new formGen("#register", {
      form: [{
          type: "string",
          name: "first_name",
          placeholder: "First Name",
          validators: ["strMin(3)"],
          element: "#first",
          formGroupAdj: "col-md-6"
        },
        {
          type: "string",
          name: "surname",
          placeholder: "Surname",
          validators: ["strMin(3)"],
          element: "#surname",
          formGroupAdj: "col-md-6"
        },
        {
          type: "select",
          name: "gender",
          placeholder: "Gender",
          options: [{
            name: "Male",
            value: "male"
          }, {
            name: "Female",
            value: "female"
          }],
          validators: ["notEmpty()"],
          element: "#gender"
        },
        {
          type: "date",
          name: "date_of_birth",
          placeholder: "Date of Birth",
          validators: ["notEmpty()"],
          element: "#date"
        },
        {
          type: "string",
          name: "username",
          placeholder: "Desired Username",
          validators: ["notEmpty()", "isUsername()", "remote()"],
          element: "#username",
          formGroupAdj: "col-md-6"
        },
        {
          type: "email",
          name: "email",
          placeholder: "Email Address",
          validators: ["strMin(5)", "remote()"],
          element: "#email",
          formGroupAdj: "col-md-6"
        },
        {
          type: "password",
          name: "password",
          placeholder: "Password",
          validators: ["strMin(5)"],
          element: "#pass",
          formGroupAdj: "col-md-6"
        },
        {
          type: "confirm-password",
          name: "confirm",
          placeholder: "Confirm Password",
          validators: ["strMin(5)"],
          element: "#confirm",
          formGroupAdj: "col-md-6"
        },
      ],

      remote: {
        submit: {
          method: "POST",
          url: "{{ url_for('UserRegistrationView:register_post') }}"
        },
        validate: {
          method: "POST",
          url: "{{ url_for('UserRegistrationView:register_validate_post') }}"
        },
      },

      onSuccess(data, status, xhr) {
        $("#register").find("button[type='submit']").attr("disabled", "");
        Swal.fire({
          type: 'success',
          timer: 3500,
          showConfirmButton: false,
          title: 'Welcome 🎉',
          text: "You'r registration was successful! You will now be redirected to login.",
          onClose: () => {
            window.location.replace("/");
          }
        });
      },

      onFail(xhr, status) {
        try {
          var error = xhr.responseJSON.error_msg;
        } catch (err) {
          var error = "Server Error, Try again.";
        }

        iziToast.error({
          position: "bottomLeft",
          title: 'Error',
          message: error
        });
      }
    });
  });
</script>
{% endblock scripts %}
