{% extends  'base/layout.html'%}

{% block styles %}
<style>
  .va-center {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  @media screen and (max-width: 768px) {
    .va-center {
      position: relative;
      top: unset;
      -webkit-transform: unset;
      -ms-transform: unset;
      transform: unset;

    }
  }

</style>
{% endblock styles %}

{% block content %}


<div style="height: 100vh;">
  <div class="container va-center">

    <div class="row">
      <div class="col"></div>
      <div class="col">
        <img class="mx-auto d-block" width="200" src="{{ url_for('static', filename='images/logo.png') }}" alt="">
      </div>
      <div class="col"></div>
    </div>

    <form id="register">
      <div class="card border-primary mb-3">
        <div class="card-header text-center">Registration</div>
        <div class="card-body">
          <div class="row">
            <div class="col-md">
              <div id="basics"></div>
            </div>

            <div class="col-md">
              <div id="identifiers"></div>
            </div>
          </div>
        </div>

        <div class="card-footer bg-primary">
          <div class="row">
            <div class="col"></div>
            <div class="col">
              <button type="submit" class="btn btn-primary btn-lg btn-block">Register</button>
            </div>
            <div class="col"></div>
          </div>
        </div>
      </div>
    </form>

    <div class="text-center">
      <a class="badge badge-info mb-1" href="{{ url_for('UserAuthenticationView:login_get') }}"><b><i class="fas fa-info-circle"></i> Already have an account?</b></a>
      <p class="mt-1 mb-4">&copy; <script>
          document.write(new Date().getFullYear())
        </script>
      </p>
    </div>

  </div>
</div>


{% endblock content %}

{% block scripts %}
<script>
  $(document).ready(function() {
    new formGen("#register", {
      form: [{
          type: "string",
          name: "first_name",
          placeholder: "First Name",
          validators: ["strMin(5)"],
          element: "#basics"
        },
        {
          type: "string",
          name: "surname",
          placeholder: "Surname",
          validators: ["strMin(5)"],
          element: "#basics"

        },
        {
          type: "select",
          name: "gender",
          placeholder: "Gender",
          options: [{
            name: "Male",
            value: "male"
          }, {
            name: "Female",
            value: "female"
          }],
          validators: ["notEmpty()"],
          element: "#basics"

        },
        {
          type: "date",
          name: "date_of_birth",
          placeholder: "Date of Birth",
          validators: ["notEmpty()"],
          element: "#basics"

        },
        {
          type: "string",
          name: "username",
          placeholder: "Username",
          validators: ["notEmpty()", "isUsername()", "remote()"],
          element: "#identifiers"

        },
        {
          type: "email",
          name: "email",
          placeholder: "Email Address",
          validators: ["strMin(5)", "remote()"],
          element: "#identifiers"

        },
        {
          type: "password",
          name: "password",
          placeholder: "New Password",
          validators: ["strMin(5)"],
          element: "#identifiers"

        },
        {
          type: "confirm-password",
          name: "confirm",
          placeholder: "Confirm Password",
          validators: ["strMin(5)"],
          element: "#identifiers"

        },
      ],

      remote: {
        submit: {
          method: "POST",
          url: "{{ url_for('UserRegistrationView:register_post') }}"
        },
        validate: {
          method: "POST",
          url: "{{ url_for('UserRegistrationView:register_validate_post') }}"
        },
      },

      onSuccess(data, status, xhr) {
        $("#register").find("button[type='submit']").attr("disabled", "");
        Swal.fire({
          type: 'success',
          timer: 3500,
          showConfirmButton: false,
          title: 'Welcome 🎉',
          text: "You'r registration was successful! You will now be redirected to login.",
          onClose: () => {
            window.location.replace("/");
          }
        });
      },

      onFail(xhr, status) {
        try {
          var error = xhr.responseJSON.error_msg;
        } catch (err) {
          var error = "Server Error, Try again.";
        }

        iziToast.error({
          position: "bottomLeft",
          title: 'Error',
          message: error
        });
      }
    });
  });
</script>
{% endblock scripts %}
