{% extends  'base/layout.html'%}

{% block styles %}
<style>
    .set_ht {
        height: 100% !important;
    }

    .accordion_wt {
        width: 400px;
    }

    @media (max-width: 410px) {
        .accordion_wt {
            width: 0 auto;
        }
    }

    @media (max-height: 575px) {
        .set_ht {
            height: auto !important;
        }
    }
</style>
{% endblock styles %}

{% block content %}
<div class="container set_ht">
    <div class="d-flex justify-content-center set_ht">
        <div class="d-flex align-items-center accordion_wt">
            <div class="row">
                <div class="col-sm-12">
                    <div class="d-flex justify-content-center">
                        <img class="mb-3" src="{{ url_for('static', filename='images/logo.png') }}" alt="" height="75">
                    </div>
                    <p class="text-muted text-center mt-0 pt-0 mb-2" id="getting-started">Select <b>Step 1</b> to get started.</p>
                </div>

                <div class="col-sm-12">
                    <form id="register">
                        <div class="accordion" id="accordionRegister">

                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <h2 class="mb-0">
                                        <button class="btn btn-outline-primary btn-block" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                            <b>Step 1</b>: Names 👤
                                        </button>
                                    </h2>
                                </div>
                            
                                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionRegister">
                                    <div class="card-body pb-1">
                                        <div class="form-group">
                                            <input type="text" class="form-control form-control-lg" name="first_name" placeholder="Frist Name" required>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control form-control-lg" name="surname" placeholder="Surname" required>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header" id="headingTwo">
                                    <h2 class="mb-0">
                                        <button class="btn btn-outline-primary btn-block" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            <b>Step 2</b>: Gender 👫
                                        </button>
                                    </h2>
                                </div>
                            
                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionRegister">
                                    <div class="card-body pb-1">
                                        <div class="form-group">
                                            <select class="form-control" name="gender" style="width: 100%" required> 
                                                <option value="" disabled selected>Please choose</option>
                                                <option value="female">Female</option>
                                                <option value="male">Male</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header" id="headingTree">
                                    <h2 class="mb-0">
                                        <button class="btn btn-outline-primary btn-block" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            <b>Step 3</b>: Date of Birth 👶
                                        </button>
                                    </h2>
                                </div>
                            
                                <div id="collapseThree" class="collapse" aria-labelledby="headingTree" data-parent="#accordionRegister">
                                    <div class="card-body pb-1">
                                        <div class="form-group">
                                            <div id="dateofbirth"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header" id="headingFour">
                                    <h2 class="mb-0">
                                        <button class="btn btn-outline-primary btn-block" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                            <b>Step 4</b>: Username 🐦
                                        </button>
                                    </h2>
                                </div>
                            
                                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionRegister">
                                    <div class="card-body pb-1">
                                        <div class="form-group">
                                            <input type="text" class="form-control form-control-lg" name="username" placeholder="Username" required>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header" id="headingFive">
                                    <h2 class="mb-0">
                                        <button class="btn btn-outline-primary btn-block" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                            <b>Step 5</b>: Password and Email 📨
                                        </button>
                                    </h2>
                                </div>
                            
                                <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionRegister">
                                    <div class="card-body pb-1">
                                        <div class="form-group">
                                            <input type="email" class="form-control form-control-lg" name="email" placeholder="Email" required>
                                        </div>

                                        <hr/>

                                        <div class="form-group">
                                            <input type="password" class="form-control form-control-lg" name="password" placeholder="Password" required>
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control form-control-lg" name="confirm" placeholder="Confirm Password" required>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header" id="headingSix">
                                    <h2 class="mb-0">
                                        <button class="btn btn-outline-primary btn-block" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                            <b>Step 6</b>: Blast off! 🚀
                                        </button>
                                    </h2>
                                </div>
                            
                                <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionRegister">
                                    <div class="card-body">
                                        <button type="submit" class="btn btn-lg btn-success btn-block">Register Me! 🎉🎉🎉</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                    <hr>

                    <a class="mt-1 mb-3 btn btn-sm btn-secondary btn-block text-center" href="{{ url_for('auth.login') }}"><b><i class="fas fa-info-circle"></i> Goto Login</b></a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block scripts %}
<script>
document.addEventListener('DOMContentLoaded', function(e) {
    FormValidation.formValidation(
        document.getElementById('register'),
        {
            fields: {
                first_name: {
                    validators: {
                        notEmpty: {
                            message: 'field is required',
                        },
                        stringLength: {
                            min: 2,
                            max: 50,
                            message: 'Field must be more than 2 and less than 50 characters long'
                        },
                        regexp: {
                            regexp: /^[a-zs]+$/i,
                            message: 'Field can consist of alphabetical characters and spaces only'
                        }
                    }
                },
                surname: {
                    validators: {
                        notEmpty: {
                            message: 'field is required',
                        },
                        stringLength: {
                            min: 2,
                            max: 50,
                            message: 'Field must be more than 2 and less than 50 characters long'
                        },
                        regexp: {
                            regexp: /^[a-zs]+$/i,
                            message: 'Field can consist of alphabetical characters and spaces only'
                        }
                    }
                },
                gender: {
                    validators: {
                        notEmpty: {
                            message: 'field is required'
                        }
                    }
                },
                dateofbirth: {
                    validators: {
                        notEmpty: {
                            message: 'field is required'
                        },
                        callback: {
                            message: "You need to be 18+ to register",
                            callback: function(field) {
                                var user_date = moment(field.value, 'YYYY-MM-DD');
                                var compare_date = moment();
                                compare_date.subtract(18, 'years');

                                console.log(compare_date.diff(user_date, 'years'))

                                if (Math.sign(compare_date.diff(user_date, 'years')) == -1) {
                                    return false
                                } else {
                                    return true;
                                }
                            }
                        }
                    }
                },
                username: {
                    validators: {
                        notEmpty: {
                            message: 'field is required',
                        },
                        stringLength: {
                            min: 5,
                            max: 50,
                            message: 'Field must be more than 2 and less than 50 characters long'
                        },
                        regexp: {
                            regexp: /^[A-Za-z0-9]+(?:[ _-][A-Za-z0-9]+)*$/i,
                            message: 'Invalid Username alphabetical charectors and numbers only'
                        }
                    }
                },
                password: {
                    validators: {
                        notEmpty: {
                            message: 'field is required',
                        },
                        stringLength: {
                            min: 6,
                            max: 50,
                            message: 'Field must be more than 6 and less than 50 characters long'
                        },
                    }
                },
                confirm: {
                    validators: {
                        callback: {
                            message: "Passwords dont match",
                            callback: function(field) {
                                if (field.value == $("input[name='password']").val()) {
                                    return true
                                } else {
                                    return false
                                }
                            }
                        }
                    }
                },
                email: {
                    validators: {
                        notEmpty: {
                            message: 'field is required'
                        },
                        regexp: {
                            regexp: /(?:[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*|"(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21\x23-\x5b\x5d-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])*")@(?:(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?|\[(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?|[a-z0-9-]*[a-z0-9]:(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21-\x5a\x53-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])+)\])/i,
                            message: 'Email address is invalid'
                        }
                    }
                },
            },
            plugins: {
                trigger: new FormValidation.plugins.Trigger(),
                bootstrap: new FormValidation.plugins.Bootstrap(),
                submitButton: new FormValidation.plugins.SubmitButton(),
            },
        }
    ).on('core.form.valid', function() {
        $.ajax({
          accept: 'application/json',
          contentType: 'application/json',
          type: "POST",
          url: "{{ url_for('auth.login') }}",
          data: $('#login').jsonString()
        }).done(function(data, status, jqXHR) {
          window.location.replace(data.redirect);
        }).fail(function(data, status, jqXHR) {
            try {
                var error = data.responseJSON.error_msg;
            } catch (err) {
                var error = "Server Error, Try again.";
            }
            
            $.toast({
                text: error,
                heading: 'Error!',
                icon: 'error',
                showHideTransition: 'slide',
                allowToastClose: false,
                hideAfter: 3000,
                stack: 5,
                position: 'top-center',
                textAlign: 'left', 
                loader: true, 
                beforeShow: function () {},
                afterShown: function () {},
                beforeHide: function () {},
                afterHidden: function () {}
            });
        });
    }).on('core.form.invalid', function() {
        show_errors();
    })
});

$(document).ready(function() {



    // // set date
    // today = new Date();
    // date_input = $('date[name="dateofbirth"]');
    // console.log(today)
    // console.log(date_input)
    // $('date[name="dateofbirth"]').val(today)
})

$('#dateofbirth').datetimepicker({
    format: 'YYYY-MM-DD',
    inline: true
});
new datepicker_inline('#dateofbirth');

function show_errors() {
    for (var i=0; i < $("#register").find(".card-header").length; i++) {
        var buttonBefore = $($("#register").find(".card-header")[i]).find('button');
        //change colour
        $(buttonBefore).removeClass('btn-danger');
        $(buttonBefore).addClass('btn-outline-primary');
    }

    for (var i=0; i < $("#register").find(".is-invalid").length; i++) {
        var heading = $($($("#register").find(".is-invalid")[i]).closest('.collapse')).attr('aria-labelledby');
        var button = $('#register').find(`#${heading}`).find('button')
        //change colour
        $(button).removeClass('btn-outline-primary');
        $(button).addClass('btn-danger');
    }
}

$(document).bind('DOMSubtreeModified', function () {
    setTimeout(function() {
        show_errors()
    }, 500);
});
</script>
{% endblock scripts %}