{% extends 'base/layout.html'%} {% block styles %}
<style>
  #measurements_chart .ct-series-b .ct-bar {
    stroke: #07ebff !important;
  }

  @media screen and (max-width: 600px) {
    #measurements_chart .ct-bar {
      stroke-width: 3px !important;
    }

    #weights_chart .ct-label {
      font-size: 7.5px !important;
    }
  }

  #measure-table th {
    font-size: 10px !important;
  }
  #measure-table td {
    font-size: 10px !important;
  }
</style>
{% endblock styles %} {% block content %}
<section class="section">
      <div id="ctx" class="row"></div>
      
  </div>
</section>

{% endblock content %} {% block scripts %}
<script>
  $(document).ready(function(e) {
    $.ajax({
      type: "GET",
      crossDomain: true,
      dataType: "json",
      url: "http://64.227.32.156/req.json",
      success: function(d, t, e) {
        d.forEach((vd) => {
          $("#ctx").append(`
    <div class="col">

          <div class="card card-primary p-3">
          <h3 style="">${vd['name']}</h3>
          <p>${vd['comment']}</p>


          <video
          id="my-video-${vd['video']}"
          class="video-js"
          controls
          preload="false"
          width="400"
          height="400"
          poster="MY_VIDEO_POSTER.jpg"
          data-setup="{}"
        >
          <source src="http://64.227.32.156/${vd['video']}.mp4" type="video/mp4" />
          <p class="vjs-no-js">
            To view this video please enable JavaScript, and consider upgrading to a
            web browser that
            <a href="https://videojs.com/html5-video-support/" target="_blank"
              >supports HTML5 video</a
            >
          </p>
        </video>
      </div>
    </div>

          
          `);

          videojs(`#my-video-${vd['video']}`, {}, function(){
  // Player (this) is initialized and ready.
});

        })
      },
      fail: function(e) {
        console.log(e);
      }
    });
    var weight_table = $("#weight-table").DataTable({
      dom: "rt<'d-block dt-height-adj'>",
      processing: true,
      serverSide: true,
      paging: true,
      oLanguage: {
        sLengthMenu: "_MENU_"
      },
      autoWidth: false,
      ajax:
        "{{ url_for('UserAPIWeightDatatablePeek:index', user=request.user.username) }}",
      columns: [
        {
          data: "create_stamp",
          autoWidth: true
        },
        {
          data: "weight",
          autoWidth: true
        }
      ],
      order: [[0, "desc"]],
      pageLength: 5,
      drawCallback: function(settings) {
        data = weight_table.rows().data();

        var chart_data = [];
        var xaxis_arr = [];
        var data_array = [];

        for (var i = 0; i < data.length; i++) {
          data_array.push(data[i]["weight"]);
          xaxis_arr.push(data[i]["create_stamp"]);
        }

        chart_data = { name: "LATEST 5", data: data_array };

        var options = {
          series: [chart_data],
          chart: {
            height: 350,
            type: "bar"
          },
          plotOptions: {
            bar: {
              dataLabels: {
                position: "top" // top, center, bottom
              }
            }
          },
          dataLabels: {
            enabled: true,
            formatter: function(val) {
              return val + "KG";
            },
            offsetY: -20,
            style: {
              fontSize: "12px",
              colors: ["#304758"]
            }
          },

          xaxis: {
            categories: xaxis_arr,
            position: "bottom",
            labels: {
              style: {
                fontSize: "10px"
              }
            },
            axisBorder: {
              show: false
            },
            axisTicks: {
              show: false
            },
            crosshairs: {
              fill: {
                type: "gradient",
                gradient: {
                  colorFrom: "#D8E3F0",
                  colorTo: "#BED1E6",
                  stops: [0, 100],
                  opacityFrom: 0.4,
                  opacityTo: 0.5
                }
              }
            },
            tooltip: {
              enabled: true,
              offsetY: -35
            }
          },
          fill: {
            gradient: {
              shade: "light",
              type: "horizontal",
              shadeIntensity: 0.25,
              gradientToColors: undefined,
              inverseColors: true,
              opacityFrom: 1,
              opacityTo: 1,
              stops: [50, 0, 100, 100]
            }
          },
          yaxis: {
            axisBorder: {
              show: false
            },
            axisTicks: {
              show: false
            },
            labels: {
              show: false,
              formatter: function(val) {
                return val + "KG";
              }
            }
          }
        };

        var weight_chart = new ApexCharts(
          document.querySelector("#weight_chart"),
          options
        );
        weight_chart.render();
      }
    });

    var measure_table = $("#measure-table").DataTable({
      dom: "rt<'d-block dt-height-adj'>",
      processing: true,
      serverSide: true,
      paging: true,
      oLanguage: {
        sLengthMenu: "_MENU_"
      },
      autoWidth: false,
      ajax:
        "{{ url_for('UserAPIMeasureDatatablePeek:index', user=request.user.username) }}",
      columns: [
        {
          data: "create_stamp",
          autoWidth: true
        },
        {
          data: "neck",
          autoWidth: true
        },
        {
          data: "bicep",
          autoWidth: true
        },
        {
          data: "chest",
          autoWidth: true
        },
        {
          data: "abs1",
          autoWidth: true
        },
        {
          data: "abs2",
          autoWidth: true
        },
        {
          data: "abs3",
          autoWidth: true
        },
        {
          data: "upperthigh",
          autoWidth: true
        },
        {
          data: "midthigh",
          autoWidth: true
        },
        {
          data: "calf",
          autoWidth: true
        }
      ],
      order: [[0, "desc"]],
      pageLength: 3,
      drawCallback: function(settings) {
        data = measure_table.rows().data();

        var chart_data = [];
        for (var i = 0; i < data.length; i++) {
          data_array = [];

          for (var key in data[i]) {
            if (key == "create_stamp") {
              continue;
            }

            data_array.push(data[i][key]);
          }
          chart_data.push({ name: data[i]["create_stamp"], data: data_array });
        }

        var options = {
          series: chart_data,
          chart: {
            type: "line",
            height: 350
          },

          colors: ["#008FFB", "#00E396", "#e39d00"],

          dataLabels: {
            enabled: true
          },

          stroke: {
            curve: "smooth"
          },

          // fill: {
          //   type: 'gradient',
          //   gradient: {
          //     opacityFrom: 0.6,
          //     opacityTo: 0.8,
          //   }
          // },

          legend: {
            position: "top",
            horizontalAlign: "left"
          },

          xaxis: {
            type: "category",
            categories: [
              "abs1",
              "abs2",
              "abs3",
              "bicep",
              "calf",
              "chest",
              "midthigh",
              "neck",
              "upperthigh"
            ]
          }
        };

        var measure_chart = new ApexCharts(
          document.querySelector("#measure_chart"),
          options
        );
        measure_chart.render();
      }
    });
  });
</script>
{% endblock scripts %}
