{% extends  'base/layout.html'%}

{% block styles %}
<style>
  @media screen and (max-width: 600px) {
    #measurements_chart .ct-bar {
      stroke-width: 3px !important;
    }

    #weights_chart .ct-label {
        font-size: 7.5px !important;
    }
  }
</style>
{% endblock styles %}

{% block content %}
<div class="container cont-margin">
  <div class="row row-flex">
    <div class="col s12 m6">
      <div class="card-panel {{ colours['primary_card'] }} p-2">
        <h6 class="center">Weight Graph (Latest 5)</h6>
        <div class="divider"></div>
        <div id="weights_chart"></div>
      </div>
    </div>

    <div class="col s12 m6">
      <div class="card-panel {{ colours['primary_card'] }} p-2">
        <h6 class="center">Weight Table (Latest 5)</h6>
        <div class="divider"></div>
        <div class="encase_weights_datatable">
          <table id="weights_datatable" class="display" style="width:100%; height: 100%"></table>
        </div>
      </div>
    </div>

  </div>

  <div class="row row-flex">
    <div class="col s12">
      <div class="card-panel {{ colours['primary_card'] }} p-2">
        <h6 class="center">Measurements Graph (Latest 5)</h6>
        <div class="divider"></div>
        <div id="measurements_chart"></div>
      </div>
    </div>
  </div>
  <div class="row row-flex">

    <div class="col s12">
      <div class="card-panel {{ colours['primary_card'] }} p-2">
        <h6 class="center">Measurements Table (Latest 5)</h6>
        <div class="divider"></div>
        <div class="encase_measurements_datatable">
          <table id="measurements_datatable" class="display" style="width:100%; height: 100%"></table>
        </div>
      </div>
    </div>

  </div>
</div>

{% endblock content %}

{% block scripts %}
<script>
  $(document).ready(function() {

    // weight table
    var weights_datatable = $('#weights_datatable').DataTable({
      paging: false,
      info: false,
      responsive: true,
      lengthChange: false,
      filter: false,
      columns: [{
          title: "Date",
          data: "create_stamp"
        },
        {
          title: "Weight",
          data: "weight",
          render: function(data, type, row, meta) {
            if (data > 0) {
              return `${data}${row.unit}`
            }
            return "-"
          }
        },
        {
          title: "Prev. Diff",
          data: "weight",
          render: function(data, type, row, meta) {
            prev = meta.row - 1;
            if (prev != -1) {
              diff_prev = data - weights_datatable.rows().data()[prev].weight;
              return `${diff_prev.toFixed(1)}${row.unit}`;
            }
            return "-"
          }
        },
        {
          title: "Diff Init.",
          data: "weight",
          render: function(data, type, row, meta) {
            init = weights_datatable.ajax.json().initial_weight;
            diff_init = data - init
            return `${diff_init.toFixed(1)}${row.unit}`;
          }
        },
        {
          title: "Capturer",
          data: "create_user"
        },
      ],
      ajax: "{{ url_for('User:get_weights', user=request.user.username) }}",
      order: [
        [0, "desc"]
      ],
      "fnInitComplete": function(oSettings, json) {
        chart_datasets = [];
        data_len = json.data.length;
        chart_lables = []
        for (var i = 0; i != data_len; i++) {
          data = json.data[i]
          chart_datasets.push(data["weight"]);
          chart_lables.push(data["create_stamp"].split(" ")[0]);
        }

        data = {
          labels: chart_lables,
          series: [chart_datasets],
        };

        options = {
          height: `${$('.encase_weights_datatable').height()}px`,
          fullWidth: true,
          chartPadding: {
            right: 40,
            left: -10
          },
          seriesBarDistance: 10,
          plugins: [
            Chartist.plugins.tooltip({
              appendToBody: true
            }),
          ]
        }

        var weights_chart = new Chartist.Line('#weights_chart', data, options);

      }
    });
    $("select[name='weights_datatable_length']").formSelect();

    var measurements_datatable = $('#measurements_datatable').DataTable({
      paging: false,
      info: false,
      responsive: true,
      lengthChange: false,
      filter: false,
      columns: [{
          title: "Date",
          data: "create_stamp"
        },
        {
          title: "Neck",
          data: "neck",
          render: function(data, type, row, meta) {
            if (data > 0) {
              return `${data}${row.unit}`
            }
            return "-"
          }
        },
        {
          title: "Bicep",
          data: "bicep",
          render: function(data, type, row, meta) {
            if (data > 0) {
              return `${data}${row.unit}`
            }
            return "-"
          }
        },
        {
          title: "Chest",
          data: "chest",
          render: function(data, type, row, meta) {
            if (data > 0) {
              return `${data}${row.unit}`
            }
            return "-"
          }
        },
        {
          title: "ABS 1",
          data: "abs1",
          render: function(data, type, row, meta) {
            if (data > 0) {
              return `${data}${row.unit}`
            }
            return "-"
          }
        },
        {
          title: "ABS 2",
          data: "abs2",
          render: function(data, type, row, meta) {
            if (data > 0) {
              return `${data}${row.unit}`
            }
            return "-"
          }
        },
        {
          title: "ABS 3",
          data: "abs3",
          render: function(data, type, row, meta) {
            if (data > 0) {
              return `${data}${row.unit}`
            }
            return "-"
          }
        },
        {
          title: "Upper Thigh",
          data: "upperthigh",
          render: function(data, type, row, meta) {
            if (data > 0) {
              return `${data}${row.unit}`
            }
            return "-"
          }
        },
        {
          title: "Mid Thigh",
          data: "midthigh",
          render: function(data, type, row, meta) {
            if (data > 0) {
              return `${data}${row.unit}`
            }
            return "-"
          }
        },
        {
          title: "Calf",
          data: "calf",
          render: function(data, type, row, meta) {
            if (data > 0) {
              return `${data}${row.unit}`
            }
            return "-"
          }
        },
        {
          title: "Total",
          render: function(data, type, row, meta) {
            var total = 0;
            for (measure in row) {
              if (!measure.includes("_") & measure != "unit") {
                total += row[measure];
              }
            }
            return `${total}${row.unit}`
          }
        },
        {
          title: "Diff.",
          render: function(data, type, row, meta) {
            prev = meta.row - 1;
            if (prev != -1) {
              var total_curr = 0;
              for (measure in row) {
                if (!measure.includes("_") & measure != "unit") {
                  total_curr += row[measure];
                }
              }
              var total_prev = 0;
              for (measure in measurements_datatable.rows().data()[prev]) {
                if (!measure.includes("_") & measure != "unit") {
                  total_prev += measurements_datatable.rows().data()[prev][measure];
                }
              }
              return `${total_curr-total_prev}${row.unit}`;
            }
            return "-"

          }
        },
        {
          title: "Capturer",
          data: "create_user"
        },
      ],
      ajax: "{{ url_for('User:get_measurements', user=request.user.username) }}",
      order: [
        [0, "desc"]
      ],
      "fnInitComplete": function(oSettings, json) {
        var data_len = json.data.length;
        var chart_datasets = [];
        var chart_lables = [];

        for (var i = 0; i < data_len; i++) {
          data = json.data[i];
          chart_datasets.push([{
              meta: data["create_stamp"].split(" ")[0],
              value: data["neck"]
            },
            {
              meta: data["create_stamp"].split(" ")[0],
              value: data["bicep"]
            },
            {
              meta: data["create_stamp"].split(" ")[0],
              value: data["chest"]
            },
            {
              meta: data["create_stamp"].split(" ")[0],
              value: data["abs1"]
            },
            {
              meta: data["create_stamp"].split(" ")[0],
              value: data["abs2"]
            },
            {
              meta: data["create_stamp"].split(" ")[0],
              value: data["abs3"]
            },
            {
              meta: data["create_stamp"].split(" ")[0],
              value: data["upperthigh"]
            },
            {
              meta: data["create_stamp"].split(" ")[0],
              value: data["midthigh"]
            },
            {
              meta: data["create_stamp"].split(" ")[0],
              value: data["calf"]
            },
          ]);
          chart_lables.push(data["create_stamp"].split(" ")[0]);
        }

        data = {
          labels: ['Neck', 'Bicep', 'Chest', 'ABS1', 'ABS2', 'ABS3', 'Upper Thigh', 'Mid Thigh', 'Calf'],
          series: chart_datasets,
        };

        options = {
          fullWidth: true,
          chartPadding: {
            right: 25,
            left: -10
          },
          seriesBarDistance: 10,
          plugins: [
            Chartist.plugins.tooltip({
              appendToBody: true
            }),
          ]
        }

        responsiveOptions = [
          ['screen and (min-width: 601px) and (max-width: 1024px)', {
            showPoint: false,
          }],
          ['screen and (max-width: 600px)', {
            showLine: false,
            seriesBarDistance: 5,
            axisX: {
              labelInterpolationFnc: function(value) {
                return value[0];
              }
            }
          }]
        ];

        var measurements_chart = new Chartist.Bar('#measurements_chart', data, options, responsiveOptions);
      }
    });
    $("select[name='measurements_datatable_length']").formSelect();
  });
</script>
{% endblock scripts %}
