{% extends  'base/layout.html'%}

{% block styles %}
<style>
  #measurements_chart .ct-series-b .ct-bar {
    stroke: #07ebff !important;
  }

  @media screen and (max-width: 600px) {
    #measurements_chart .ct-bar {
      stroke-width: 3px !important;
    }

    #weights_chart .ct-label {
      font-size: 7.5px !important;
    }
  }

  #measure-table th { font-size: 10px !important; }
  #measure-table td { font-size: 10px !important; }

</style>
{% endblock styles %}


{% block content %}
<section class="section">
    <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12">
          <div class="card">
            <div class="card-wrap">
              <div class="card-header">
                <h4 class="section-title mt-0">Weights</h4>
              </div>
              <div class="card-body p-0">
                <table class="table table-striped table-sm mb-0" id="weight-table">
                  <thead>
                      <tr>
                          <th><i class="far fa-calendar-alt"></i></th>
                          <th>Weight</th>
                      </tr>
                  </thead>
                  <tbody>
                  </tbody>
              </table>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 col-md-12 col-sm-12">
          <div class="card">
            <div class="card-wrap">
              <div class="card-header">
                <h4 class="section-title mt-0">Measurements</h4>
              </div>
              <div class="card-body p-0">
                <div class="table-responsive">
                  <table class="table table-striped table-sm mb-0" style="width: 100%" id="measure-table">
                    <thead>
                        <tr>
                            <th><i class="far fa-calendar-alt"></i></th>
                            <th>Ne</th>
                            <th>Bi</th>
                            <th>Ch</th>
                            <th>A1</th>
                            <th>A2</th>
                            <th>A3</th>
                            <th>Ut</th>
                            <th>Mt</th>
                            <th>Ca</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
              </div>
            </div>
            </div>
          </div>
        </div>

      </div>
</section>


{% endblock content %}

{% block scripts %}
<script>

$(document).ready(function (e) {

        var weight_table = $("#weight-table").DataTable({
            "dom": "rt<'d-block dt-height-adj'>",
            "processing": true,
            "serverSide": true,
            "paging": true,
            oLanguage: {
                sLengthMenu: "_MENU_",
            },
            "autoWidth": false,
            "ajax": "{{ url_for('UserAPIWeightDatatablePeek:index', user=request.user.username) }}",
            "columns": [{
                    "data": "create_stamp",
                    "autoWidth": true
                },
                {
                    "data": "weight",
                    "autoWidth": true,
                },
            ],
            "order": [[ 0, "desc" ]],
            "pageLength": 5
        });

        var measure_table = $("#measure-table").DataTable({
            "dom": "rt<'d-block dt-height-adj'>",
            "processing": true,
            "serverSide": true,
            "paging": true,
            oLanguage: {
                sLengthMenu: "_MENU_",
            },
            "autoWidth": false,
            "ajax": "{{ url_for('UserAPIMeasureDatatablePeek:index', user=request.user.username) }}",
            "columns": [
                {
                    "data": "create_stamp",
                    "autoWidth": true
                },
                {
                    "data": "neck",
                    "autoWidth": true
                },
                {
                    "data": "bicep",
                    "autoWidth": true
                },
                {
                    "data": "chest",
                    "autoWidth": true
                },
                {
                    "data": "abs1",
                    "autoWidth": true
                },
                {
                    "data": "abs2",
                    "autoWidth": true
                },
                {
                    "data": "abs3",
                    "autoWidth": true
                },
                {
                    "data": "upperthigh",
                    "autoWidth": true
                },
                {
                    "data": "midthigh",
                    "autoWidth": true
                },
                {
                    "data": "calf",
                    "autoWidth": true
                },
            ],
            "order": [[ 0, "desc" ]],
            "pageLength": 3
        });
      });
</script>
{% endblock scripts %}