/* basic stuff */
html, body {
    height: 100%;
}

/* Logo stuff */
.brand-logo img {
    height: 64px;
}

@media only screen and (max-width: 600px) {
  .brand-logo img {
      height: 54px;
  }
}

/* import font */
@font-face {
  font-family: roboto-mono;
  src: url("http://localhost:5000/static/fonts/RobotoMono-Light.ttf");
}

.priamry_font {
    font-family: roboto-mono;
}
